################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/BlobStorageFileUtilities/obj
/src/BlobStorageFileUtilities/bin/Debug/netcoreapp3.0
